[submodule "sc_heritability_analysis"]
	path = sc_heritability_analysis
	url = git@github.com:andersonlab/sc_heritability_analysis.git
[submodule "nf_scrna_qc"]
	path = nf_scrna_qc
	url = git@github.com:wtsi-hgi/nf_scrna_qc.git
[submodule "sc_nf_diffexpression"]
	path = sc_nf_diffexpression
	url = git@github.com:andersonlab/sc_nf_diffexpression.git
[submodule "cNMF-snakemake"]
	path = cNMF-snakemake
	url = git@github.com:Tobi1kenobi/cNMF-snakemake.git

