[submodule "sc_heritability_analysis"]
	path = sc_heritability_analysis
	url = https://github.com/andersonlab/sc_heritability_analysis/
[submodule "nf_qc_cluster"]
	path = nf_qc_cluster
	url = https://github.com/wtsi-hgi/nf_qc_cluster
