---

############################################################################################################################
#################################################### INFORMATION ###########################################################
############################################################################################################################

# All file paths accept absolute and relative paths
# Environment variables (including ~) are not processed, so don't use them in this config.


############################################################################################################################
############################################ RUN COMMON VARIABLES ##########################################################
############################################################################################################################

# Folder where all the outputs are saved (LD scores, prioritization results files, etc.) 
# CELLECT-LDSC and CELLECT-MAGMA will write the analysis results into <BASE_OUTPUT_DIR>/CELLECT-LDSC and <BASE_OUTPUT_DIR>/CELLECT-MAGMA subdirectories respectively. The directory and its subdirectories will be created if they do not exist.
BASE_OUTPUT_DIR: sc_ti_atlas-heritability


### SPECIFICITY_INPUT: list of dictionaries
# id: identifier for the dataset. Output files will be prefixed with the id. MUST be unique and NO double underscores allowed
# path: the path to the matrix containing specificity scores for each genomic region, does not need to be unique
# the files can be uncompressed or compressed (gz/bz2 formats are supported).
SPECIFICITY_INPUT:
# CELLEX
  - id: ti-cd_healthy-discovery_auto-CELLEX_celltype_predicted_0pt5-SEG
    path: /nfs/users/nfs_o/oa3/single-cell/code/sc_heritability_analysis/studies/gut-freeze003/discovery_labeled/results/freeze03-ti-cd_healthy-discovery_labeled.predicted_celltype.esmu.csv.gz
  - id: ti-cd_healthy-replication-CELLEX_celltype_predicted_0pt5-SEG
    path: /nfs/users/nfs_o/oa3/single-cell/code/sc_heritability_analysis/studies/gut-freeze003/replication_labeled/results/freeze03-ti-cd_healthy-replication_labeled.predicted_celltype.esmu.csv.gz
# DGE
  - id: ti-cd_healthy-discovery_denovo-MAST_CD_vs_health_celltype_clustered-zscore-DEG
    path: /nfs/users/nfs_o/oa3/single-cell/code/sc_heritability_analysis/studies/gut-freeze003/ti-cd_healthy/results/2021-05-20_freeze03-ti-cd_healthy.Cell-type.mast.normalised_stat.csv.gz
  - id: ti-cd_healthy-discovery_auto-MAST_CD_vs_health_celltype_predicted_0pt5-zscore-DEG
    path: /nfs/users/nfs_o/oa3/single-cell/code/sc_heritability_analysis/studies/gut-freeze003/discovery_labeled/results/TI-CD_H-discovery_cohort-DGE_CD_vs_H-norm_test_stat.deg.csv.gz
  - id: ti-cd_healthy-replication_auto-MAST_CD_vs_health_celltype_predicted_0pt5-zscore-DEG
    path: /nfs/users/nfs_o/oa3/single-cell/code/sc_heritability_analysis/studies/gut-freeze003/replication_labeled/results/TI-CD_H-replication_cohort-DGE_CD_vs_H-norm_test_stat.deg.csv.gz
# NMF
  - id: ti-cd_healthy-discovery_auto-cNMF_k90-zscore-celltype_predicted_0pt5-PEG
    path: /lustre/scratch119/realdata/mdt2/projects/sc-eqtl-ibd/analysis/tobi_analysis/heritability/sc_heritability_analysis/studies/gut-freeze003/discovery_labeled/results/ti-cd_h-freeze003_discovery-NMF_k90_0_05_score.peg.csv.gz
  - id: ti-cd_healthy-replication_auto-cNMF_k40-zscore-celltype_predicted_0pt5-PEG
    path: /nfs/users/nfs_o/oa3/single-cell/code/sc_heritability_analysis/studies/gut-freeze003/replication_labeled/results/ti-cd_h-freeze003_replicate-NMF_k40_score.peg.csv.gz
  - id: ti-cd_healthy-replication_auto-cNMF_k80-zscore-celltype_predicted_0pt5-PEG
    path: /lustre/scratch119/realdata/mdt2/projects/sc-eqtl-ibd/analysis/tobi_analysis/heritability/sc_heritability_analysis/studies/gut-freeze003/replication_labeled/results/ti-cd_h-freeze003_replication-NMF_k80_0_05_score.peg.csv.gz



### GWAS_SUMSTATS: list of dictionaries
# id: identifier for GWAS. MUST be unique and NO double underscores allowed
# path: filepath for munged GWAS sumstats. Uncompressed / gz or bz2 compressed files allowed.
GWAS_SUMSTATS:
  - id: EA3_Lee2018
    path: data/gwas/EA3_Lee2018.sumstats.gz
  - id: Height_Yengo2018
    path: data/gwas/Height_Yengo2018.sumstats.gz
  - id: CD_DeLange2017
    path: data/gwas/CD_DeLange2017.sumstats.gz
  - id: IBD_DeLange2017
    path: data/gwas/IBD_DeLange2017.sumstats.gz
  - id: UC_DeLange2017
    path: data/gwas/UC_DeLange2017.sumstats.gz


ANALYSIS_TYPE: # specify what analysis type to run. At least one analysis type needs to be specified.
  prioritization: True # prioritizes all cell-type annotations in the SPECIFICITY_INPUT datasets
  conditional: False # performs conditional analysis for selected annotations.
  heritability: False # [CELLECT-LDSC ONLY] estimates heritability for selected annotations. 
  heritability_intervals: False # [CELLECT-LDSC ONLY] estimates heritability intervals for selected annotations. 'heritability' must be True when enabling heritability_intervals

WINDOW_DEFINITION: # Window definition for mapping gene specificity values to SNPs
  WINDOW_SIZE_KB:
    100

GENE_COORD_FILE: # Path to gene coordinates. First five columns must be: ensembl_gene_id, chromosome, start_position, stop_position, strand. No header allowed
  data/shared/gene_coordinates.GRCh37.ensembl_v91.txt
KEEP_ANNOTS: # [CELLECT-LDSC ONLY] If True, for each specificity input a file containing the SNP:ES (and all overlapping genes) mappings will be saved to output also. If you only want this and do not wish to run the rest of CELLECT add "--until make_annot" to the normal snakemake command
  False

############################################################################################################################
############################################## CONDITIONAL ANALYSIS ########################################################
############################################################################################################################

### CONDITIONAL_INPUT: list of dictionaries
# id: dataset input - must correspond to an id in SPECIFICITY_INPUT.
# annotations: annotations to condition on
# NOTE: you can delete or leave these dicts blank if the 'analysis type' is not activated
CONDITIONAL_INPUT:
  - id: 
    annotations: 


############################################################################################################################
###################################### HERITABILITY ANALYSIS (LDSC ONLY) ###################################################
############################################################################################################################

### HERITABILITY_INPUT: list of dictionaries
# id: dataset input - must correspond to an id in SPECIFICITY_INPUT.
# annotations: annotations to estimate heritability for
# NOTE: you can delete or leave these dicts blank if the 'analysis type' is not activated
HERITABILITY_INPUT:
  - id: 
    annotations: 
    

        
############################################################################################################################
####################################### EFFECTOR GENE ANALYSIS (MAGMA ONLY) #################################################
############################################################################################################################
# NOTE: you can delete or leave these dicts blank or as they are if the effector_genes analysis type is not activated
N_GENES_MAGMA: 20000 # number of top magma genes to include, sorted by p-value in ascending order
PERCENTILE_CUTOFF_ESMU: 0 # percentile cutoff for non-zero ESmu genes to include, sorted by ESmu value in descending order

#############################################################################################################################
##################################################### CONSTANTS #############################################################
#############################################################################################################################

# You generally do not need to change these variables.

LDSC_CONST:
  DATA_DIR: # Path to the data used for CELLECT-LDSC (baseline model, gene mapping etc).
    data/ldsc
  LDSC_DIR: # Path to the a cloned version of the github repo pascaltimshel/ldsc. This is included as a git submodule.
    ldsc
  NUMPY_CORES: # Numpy by default uses all cores available to it. This variable limits the amount of cores numpy can use to 1 so snakemake has full control over multicore processing via ithe '-j' flag.
    1

MAGMA_CONST:
  DATA_DIR: # Path to the data used for CELLECT-MAGMA (baseline model, gene mapping etc).
    data/magma
  NUMPY_CORES: # Numpy by default uses all cores available to it. This variable limits the amount of cores numpy can use to 1 so snakemake has full control over multicore processing via the '-j' flag.
    1
  EXCLUDE_MHC: # Exclude genes located in the MHC region (chr6:27Mb-32Mb) during prioritization. 
  # We recommend setting this to True, unless you know what you are doing and analysing immune GWAS traits.
  # CELLECT-LDSC also does not include genetic signal from the MHC region.
    True
